<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Visor</title>
</head>
<body>
  <h3>Hello from a static page</h3>
  <div id="container">
  	<p id="status">Status</p>
  </div>

  <script type="text/javascript">
  	let socket = new WebSocket('ws://localhost:8787/screen')
  	socket.binaryType = 'arraybuffer'

  	socket.onopen = function() {
        document.getElementById('container').style.backgroundColor = '#40ff40';
        document.getElementById('container').textContent = 'Connection opened';
    }

  	socket.onmessage = function (msg) 
               {    var bytes = new Uint8Array(msg.data);
                    var blob = new Blob([bytes.buffer]);
                    window.open(URL.createObjectURL(blob),'Name','resizable=1');
                };

    socket.onclose = function(){
        document.getElementById('container').style.backgroundColor = '#ff4040';
        document.getElementById('container').textContent = 'Connection closed';
    }
  </script>
</body>
</html>